body {
    height: calc(100vh - 16px);
    background: #4C91F6;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    width: 100px;
    height: 50px;
    background: #FFF;
    color: #000;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    width: 200px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 5px;
    margin: 5px 0 0 0;
    background: #ddd;
    border-radius: 3px;
    border: none;
    outline: none;
}

button {
    height: 50px;
    width: 200px;
    margin: 20px 0 0 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    color: #FFF;
    background: #4C91F6;
    cursor: pointer;
    outline: 0;
    border: 0;
}

@media all and (min-width: 512px) {
    .container {
        width: 500px;
    }

    .group {
        width: 350px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}